
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h3>Форма добавления категории</h3>
    <form method="post" action="">
        <table>
            <tr>
                <td><p>Введите название категории </p></td>
                <td><input type="text" name="catName" /> </td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
    </form>
</div>

