@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Footer {
    Все права защищены. Syte Corp. 2012.
}


<div>
    <h3>Категории</h3>
    <table>
        <tr>
            <td><p>Название категории</p></td>
        </tr>
        @foreach (var b in ViewBag.Cats)
        {
            <tr>
                <td><p>@b.catName</p></td>
            </tr>
        }
        <tr>
            <td>
                <p><a href="/Home/AddCat">Добавить</a></p>
            </td>
        </tr>
    </table>
</div>
